.hero {
  height: 100vh;
  width: 100vw;
  background-image: 
  linear-gradient(to right, 
      rgba(0,0,0,.9) 0%,     
      rgba(0,0,0,.9) 10%,    
      rgba(0,0,0,0) 80%
    ),
    linear-gradient(to top, 
      rgba(0,0,0,1) 0%, 
      rgba(0,0,0,0) 50%
    ),
    url("/src/assets/hero6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}