@font-face {
  font-family: cyberpunk;
  src: url(/src/assets/BlenderProBook.woff2);
}

html, body {
  color: #00f6ff;
  font-family: cyberpunk;
  /*background:
  radial-gradient(circle at top left, rgba(0, 240, 255, 0.08), transparent 40%),
  radial-gradient(circle at bottom right, rgba(255, 42, 109, 0.06), transparent 45%),
  #0b0c10;*/
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 60px;
  box-sizing: border-box;
}

/* BUTTON */
.cybr-btn {
  --primary: rgba(255, 0, 255, 0.4);
  --primary-dark: rgba(255, 0, 255, 0.6);

  --clip: polygon(
    0 0, 100% 0, 100% 100%,
    95% 100%, 95% 90%,
    85% 90%, 85% 100%,
    8% 100%, 0 70%
  );
  margin-right: 20px;
  font-family: 'Orbitron', sans-serif;
  color: cyan;
  background: var(--primary);
  border: none;
  padding: 10px 50px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;

  clip-path: var(--clip);
  position: relative;

  transition: background 0.2s ease, transform 0.1s ease;
}

.cybr-btn.delete {
  background: red;
}

/* SMALL TAG */
.cybr-btn__tag {
  position: absolute;
  bottom: -10px;
  right: 10px;
  font-size: 10px;
  background: black;
  color: #fcee09;
  padding: 2px 6px;
}

/* HOVER (simple darken) */
.cybr-btn:hover {
  background: var(--primary-dark);
}

/* OPTIONAL: slight press effect */
.cybr-btn:active {
  transform: translateY(2px);
}